<div [ngClass]="isReceived() ? 'bg-green-50' : 'bg-white' ">
  <div class="  py-5 " >
  <div class="flex space-x-3"
  [ngClass]="isReceived() ?  'flex-row-reverse' : 'none'">
    <div class="flex-shrink-0 m-1">
      <span class="relative inline-block">
        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <span class="absolute right-0 top-0 block h-1.5 w-1.5 rounded-full bg-gray-300 ring-2 ring-white"></span>
      </span>
          </div>
    <div class="min-w-0 flex-1"
    [ngClass]="isReceived() ?  'text-right' : 'none'">
    <p class="text-sm font-semibold text-gray-900">
      {{ username || _message.user_id }}
    </p>


      <p class="text-sm"
      [ngClass]="isReceived() ?  'text-right' : 'none'">


      {{_message.text}}</p>

      @if (_message.documentRef) {
        <img [src]="documentUrl" alt="Message document" class="message-image"/>
      }

      <p class="text-sm text-gray-500" [ngClass]="isReceived() ?  'text-right' : 'text-left'">
        <a href="#" class="hover:underline text-end">
        {{_date()}}</a>
      </p>
    </div>
    <div class="flex flex-shrink-0 self-center">
      <div class="relative inline-block text-left">

      </div>
    </div>
  </div>
</div>
