<div
  class="my-1 relative w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm"
>
  <div
    class="flex  texte-white justify-start p-2 gap-x-6 px-6 sm:px-3.5 "
    [ngClass]="{
      'animate-pulse': hasUnseen(),
      'bg-indigo-500': isGlobal(),
      'bg-slate-100': !isGlobal()
    }"
  >
    <span class="relative flex h-3 w-3">
      <span
        [ngClass]="hasUnseen() ? 'hidden' : 'display'"
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
      ></span>
      <span
        [ngClass]="hasUnseen() ? 'hidden' : 'display'"
        class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"
      ></span>
    </span>

    <p class="text-sm  leading-6 text-black">
      <a>
        <strong class=" font-semibold">{{ conversation.title }}</strong> <br />

        <!-- Ouai faut laisser le point d'interrogation au moins ça marche -->
        {{ conversation.messages[0]?.text }}

        <span aria-hidden="true"></span>
      </a>
    </p>

    <div class="flex flex-col h-3 w-3">
      <p class="">{{membersCount()}} </p>

    </div>

  </div>
</div>
