<div class="bg-gray-50 py-0">
  <div class="mx-auto max-w-2xl min-h-[100vh] px-6 lg:max-w-7xl lg:px-8">

    <div class=" mx-auto  mt-1  gap-2 sm:mt-1  lg:grid-rows-1">

      <!-- Div qui occupe les trois colonnes -->
      <div class=" relative   overflow-hidden min-h-[90vh] max-h-[90vh]">
        <div
          class="absolute inset-0 flex flex-col items-center justify-center

          rounded-lg bg-white max-lg:rounded-t-[2rem]">

          <h1 class="font-medium text-black ">
            Informations personnelles
          </h1>

          <p class="mb-3 block text-sm font-medium text-black" for="fullName">Nom</p>
          <p
            class="font-medium text-black focus:border-primary focus-visible:outline-none dark:border-strokedark dark:bg-meta-4 ">
            {{_user().name}} </p>
          <p class="mb-3 block text-sm font-medium text-black " for="fullName">Email</p>
          <p
            class=" font-medium text-black focus:border-primary focus-visible:outline-none dark:border-strokedark dark:bg-meta-4 ">
            {{_user().mail}}
          </p>

          <button (click)="handleLoggout()">Déconnexion</button>

        </div>

      </div>
    </div>
  </div>
</div>
